//  Variables
//  -----------------------------

//   1. Colors
//   2. Grid
//   3. Fonts
//   4. Global

// 1. Colors
// ---------

$color-light: #FFFFFF;
$color-zorba: #9D8D8A;
$color-peach: #FBC4BD;
$color-glacier: #85BCC7;
$color-wild-willow: #ACC572;

